extends ../../../templates/cisslmaster

block append main
    div.ui.container
        div.ui.hidden.divider    
        div.ui.segment
            div.ui.top.attached.large.indigo.label The DepEd MISSION
            div.ui.black.divider
            div
                | We dream of Filipinos
                br
                | who passionately love their country
                br
                | and whose values and competencies 
                br
                | enable them to realize their full potential
                br
                | and contribute meaningfully to building the nation.
                br
                | As a learner-centered public institution,
                br
                | the Department of Education
                br
                | continuously improves itself 
                br
                | to better serve its stakeholders.
        div.ui.segment
            div.ui.top.attached.large.indigo.label The DepEd Vision
            div.ui.large.divider
            div
                | To protect and promote the right of every Filipino to quality, equitable, culture-based, and complete basic education where:
                br
                | 	- Students learn in a child-friendly, gender-sensitive, safe, and motivating environment
                br
                | 	- Teachers facilitate learning and constantly nurture every learner
                br
                | 	- Administrators and staff, as stewards of the institution, ensure an enabling and supportive environment for effective learning to happen
                br
                | 	- Family, community, and other stakeholders are actively engaged and share responsibility for developing life-long learners
        div.ui.segment
            div.ui.top.attached.large.indigo.label Mandate
            div.ui.large.divider
            div
                | The Department of Education was established through the Education Decree of 1863 as the Superior Commission of Primary Instruction 
                br
                | under a Chairman. The Education agency underwent many reorganization efforts in the 20th century in order to better define its purpose 
                br
                |  vis a vis the changing administrations and charters. The present day Department of Education was
                | eventually mandated through 
                br
                | Republic Act 9155, otherwise known as the Governance of Basic Education act of 2001 which establishes the mandate of this agency. 
                br
                | The Department of Education (DepEd) formulates, implements, and coordinates policies, plans, programs and projects in 
                br
                | the areas of formal and non-formal basic education. It supervises all elementary and secondary education institutions,
                | including alternative 
                br
                |  learning systems, both public and private; and provides for the establishment and maintenance of a
                | complete, adequate, and integrated 
                br
                |  system of basic education relevant to the goals of national development.
        div.ui.segment
            div.ui.top.attached.large.indigo.label Core Values
            div.ui.large.divider
            div
                | Maka-Diyos
                br
                | Maka-tao
                br
                | Makakalikasan
                br
                | Makabansa

    script.
        {
            var eo = document.getElementById("mission");
            eo.classList.add("active");
        }

    