extends ../../../templates/cisslmaster

block append body
    div.ui.container
        div.ui.hidden.divider
        .ui.segment
            div.ui.top.attached.large.indigo.label News and Updates

            h5 No Data Available, Be The First One to Contribute!
    script.
        {
            var eo = document.getElementById("news");
            eo.classList.add("active");
        }

    
    