extends ../../../templates/cisslmaster

block append body
    div.ui.container
        div.ui.hidden.divider    
        div.ui.segment
            div.ui.top.attached.large.indigo.label
                i.info.icon
                | Rules and Regulations
            div.ui.black.divider
            div
                h4 I. MINOR OFFENSES: Parusa – Warning (pasusulatin ng promisory note ng teacher/adviser o POD.
                br
                | 1. Pagkahuli sa klase sa bawat asignatura
                br
                | 2. Panunuya
                br
                | 3. Panggugulo sa klase o pag-iingay
                br
                | 4. Pagkakalat ng basura sa loob at labas ng silid-aralan, canteen etc.
                br
                | 5. Di-pagpila tuwing breaktime, uwian o dismissal
                br
                | 6. Pag-istambay sa mga restricted area (canteen, stairs, hallway)
                br
                | 7. Walang liham ng magulang o doctor na nagpapaliwanag sa pagliban sa klase
                br
                | 8. Pag-chewing gum o bubble gum sa loob ng paaralan
                br
                | 9. Di-pagbati (greetings) sa mga guro, bisita at opisyales ng paaralan
                br
                | 10. Di- pagtuck –in ng panloob na damit (tshirt/sando) sa mga lalaki
                br
                | 11. Pagsusuot ng bullcap o sombrero at iba pang bagay sa loob ng paaralan.
                br
                br
                h5 Note: 3 Minor Offenses will merit to one Serious offense
                h5 Parusa: Suspension 2-3 days
                h5 PTC/Parent Teacher Conference
                br
            div.ui.divider
            div
                br
                h4 II. SERIOUS OFFENSES: Parusa – PTC, SUSPENSION 2-3 days.
                br
                br
                | 1. Madalas na pagliban sa klase na walang kadahilanan
                br
                | 2. Pagliban sa klase ng bawat asignatura (cutting classes)
                br
                | 3. Madalas na pagpapahuli sa oras ng pagpasok (tardiness).
                br
                | 4. Di-pagsuot ng tamang uniporme (MAPEH Uniform for MAPEH class only) at ID.
                br
                | 5. Di-tamang paggamit ng pasilidad gaya ng CR, Classroom, Canteen, Library etc.
                br
                | 6. Di-pagsunod sa tamang GUPITAN (3x4 white side wall) tuwing unang Miyerkules ng buwan.
                br
                | Bawal ang kalbo o semi-kalbo sa mga lalaki. Ipinagbabawal din pareho sa mga BABAE at LALAKI ang hair dyeing o pagpapakulay ng buhok. 
                br
                | Bawal sa mga BABAE ang gupit lalaki. 
                br
                | 7. Madalas na paglabas sa silid-aralan ng walang pahintulot (no student’s pass)
                br
                | 8. Di-pakikiisa sa programa o okasyon ng paaralan sa loob man o sa labas.
                br
                | 9. Paggawa ng mga gawaing nakakasira sa puri ng pagkatao, magulang o paaralan.
                br
                | 10. Pagdadala, paggamit, at panghihiram ng Cellphone, MP3/MP4, PSP at gameboy sa loob ng paaralan tuwing may pasok o klase. 
                br
                | Ang sinumang mahulihan ay kukumpiskahin at tanging magulang/guardian lamang ang pwedeng kumuha.
                br
                br
                h5 PARUSA:
                h5 First offense – warning
                h5 Second offense – 1 month bago isauli, suspension
                h5 Third or more – at the end of the SY isauli, suspension
                br
                | 11. Pagpunta sa mga lugar sa labas ng paaralan sa oras ng klase. Tulad ng malls, parks, computer and video game establisments. 
                br
                | TRUANCY o di pumasok ng paaralan na nakasuot ang uniporme.
                br
                | 12. Pagpasok at paglabas sa di-tamang daanan. Tulad ng MES at Over, in between and Under the bakod.
                br
                | 13. Pagbutas ng tainga at pagsuot ng hikaw sa mga lalaki.
                br
                | Bawal din sa mga babae ang multiple earings. Bawal din ang pagsuot ng hikaw sa dila at body piercing.
                br
                | 14. Pakikipag-away sa loob at labas ng paaralan.
                br
                | 15. Tattoo, rituals, body modification.
                br
                | 16. Pagdadala ng pentel pen, maliban lamang kung ito ay pinadadala ng guro.
                br
                | 17. Di-pagsunod sa iba pang alituntunin ng paaralan na hindi nakasulat dito.
                br
                br
                h5 Note: 3 Major Offenses will merit to one Very Serious offense
                h5 Parusa: Suspension 3 days
                h5 PTC/Parent Teacher Conference
                br
                br
            div.ui.divider
            div



    script.
        {
           var eo = document.getElementById("rules");
           eo.classList.add("active"); 
        }
    
    