/*---Headers---*/

.ui.indigo.header {
  color: #001f33 !important;
}

a.ui.indigo.header:hover {
  color: #001f33 !important;
}

.ui.indigo.dividing.header {
  border-bottom: 2px solid #001f33;
}

/* Inverted */

.ui.inverted.indigo.header {
  color: #003b63 !important;
}

a.ui.inverted.indigo.header:hover {
  color: #07436b !important;
}


/**********************************/
/************L-A-B-E-L-S***********/
/**********************************/


/*---Labels---*/


.ui.indigo.labels .label,
.ui.indigo.label {
  background-color: #001f33 !important;
  border-color: #001f33 !important;
  color: #FFFFFF !important;
}

/* Link */

.ui.indigo.labels .label:hover,
a.ui.indigo.label:hover {
  background-color: #001f33 !important;
  border-color: #001f33 !important;
  color: #FFFFFF !important;
}

/* Corner */

.ui.indigo.corner.label,
.ui.indigo.corner.label:hover {
  background-color: transparent !important;
}

/* Ribbon */

.ui.indigo.ribbon.label {
  border-color: #00827c !important;
}

/* Basic */

.ui.basic.indigo.label {
  background-color: #FFFFFF !important;
  color: #001f33 !important;
  border-color: #001f33 !important;
}

.ui.basic.indigo.labels a.label:hover,
a.ui.basic.indigo.label:hover {
  background-color: #FFFFFF !important;
  color: #001f33 !important;
  border-color: #001f33 !important;
}


/************************************/
/************B-U-T-T-O-N-S***********/
/************************************/

/*---Buttons---*/


.ui.indigo.buttons .button,
.ui.indigo.button {
  background-color: #001f33;
  color: #FFFFFF;
  text-shadow: none;
  background-image: none;
}

.ui.indigo.button {
  -webkit-box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
  box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
}

.ui.indigo.buttons .button:hover,
.ui.indigo.button:hover {
  background-color: #022e4b;
  color: #FFFFFF;
  text-shadow: none;
}

.ui.indigo.buttons .button:focus,
.ui.indigo.button:focus {
  background-color: #033c63;
  color: #FFFFFF;
  text-shadow: none;
}

.ui.indigo.buttons .button:active,
.ui.indigo.button:active {
  background-color: #055083;
  color: #FFFFFF;
  text-shadow: none;
}

.ui.indigo.buttons .active.button,
.ui.indigo.buttons .active.button:active,
.ui.indigo.active.button,
.ui.indigo.button .active.button:active {
  background-color: #022e4b;
  color: #FFFFFF;
  text-shadow: none;
}

/* Basic */

.ui.basic.indigo.buttons .button,
.ui.basic.indigo.button {
  -webkit-box-shadow: 0px 0px 0px 1px #001f33 inset !important;
  box-shadow: 0px 0px 0px 1px #001f33 inset !important;
  color: #001f33 !important;
}

.ui.basic.indigo.buttons .button:hover,
.ui.basic.indigo.button:hover {
  background: transparent !important;
  -webkit-box-shadow: 0px 0px 0px 1px #022e4b inset !important;
  box-shadow: 0px 0px 0px 1px #022e4b inset !important;
  color: #022e4b !important;
}

.ui.basic.indigo.buttons .button:focus,
.ui.basic.indigo.button:focus {
  background: transparent !important;
  -webkit-box-shadow: 0px 0px 0px 1px #033c63 inset !important;
  box-shadow: 0px 0px 0px 1px #033c63 inset !important;
  color: #022e4b !important;
}

.ui.basic.indigo.buttons .active.button,
.ui.basic.indigo.active.button {
  background: transparent !important;
  -webkit-box-shadow: 0px 0px 0px 1px #022e4b inset !important;
  box-shadow: 0px 0px 0px 1px #022e4b inset !important;
  color: #055083 !important;
}

.ui.basic.indigo.buttons .button:active,
.ui.basic.indigo.button:active {
  -webkit-box-shadow: 0px 0px 0px 1px #055083 inset !important;
  box-shadow: 0px 0px 0px 1px #055083 inset !important;
  color: #055083 !important;
}

.ui.buttons:not(.vertical) > .basic.indigo.button:not(:first-child) {
  margin-left: -1px;
}

/* Inverted */

.ui.inverted.indigo.buttons .button,
.ui.inverted.indigo.button {
  background-color: transparent;
  -webkit-box-shadow: 0px 0px 0px 2px #003b63 inset !important;
  box-shadow: 0px 0px 0px 2px #003b63 inset !important;
  color: #003b63;
}

.ui.inverted.indigo.buttons .button:hover,
.ui.inverted.indigo.button:hover,
.ui.inverted.indigo.buttons .button:focus,
.ui.inverted.indigo.button:focus,
.ui.inverted.indigo.buttons .button.active,
.ui.inverted.indigo.button.active,
.ui.inverted.indigo.buttons .button:active,
.ui.inverted.indigo.button:active {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  color: rgba(0, 0, 0, 0.6);
}

.ui.inverted.indigo.buttons .button:hover,
.ui.inverted.indigo.button:hover {
  background-color: #07436b;
  color: #FFFFFF;
}

.ui.inverted.indigo.buttons .button:focus,
.ui.inverted.indigo.button:focus {
  background-color: #10496e;
}

.ui.inverted.indigo.buttons .active.button,
.ui.inverted.indigo.active.button {
  background-color: #07436b;
}

.ui.inverted.indigo.buttons .button:active,
.ui.inverted.indigo.button:active {
  background-color: #154a6d;
}

/* Inverted Basic */

.ui.inverted.indigo.basic.buttons .button,
.ui.inverted.indigo.buttons .basic.button,
.ui.inverted.indigo.basic.button {
  background-color: transparent;
  -webkit-box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5) inset !important;
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5) inset !important;
  color: #FFFFFF !important;
}

.ui.inverted.indigo.basic.buttons .button:hover,
.ui.inverted.indigo.buttons .basic.button:hover,
.ui.inverted.indigo.basic.button:hover {
  -webkit-box-shadow: 0px 0px 0px 2px #07436b inset !important;
  box-shadow: 0px 0px 0px 2px #07436b inset !important;
  color: #003b63 !important;
}

.ui.inverted.indigo.basic.buttons .button:focus,
.ui.inverted.indigo.basic.buttons .button:focus,
.ui.inverted.indigo.basic.button:focus {
  -webkit-box-shadow: 0px 0px 0px 2px #10496e inset !important;
  box-shadow: 0px 0px 0px 2px #10496e inset !important;
  color: #003b63 !important;
}

.ui.inverted.indigo.basic.buttons .active.button,
.ui.inverted.indigo.buttons .basic.active.button,
.ui.inverted.indigo.basic.active.button {
  -webkit-box-shadow: 0px 0px 0px 2px #07436b inset !important;
  box-shadow: 0px 0px 0px 2px #07436b inset !important;
  color: #003b63 !important;
}

.ui.inverted.indigo.basic.buttons .button:active,
.ui.inverted.indigo.buttons .basic.button:active,
.ui.inverted.indigo.basic.button:active {
  -webkit-box-shadow: 0px 0px 0px 2px #154a6d inset !important;
  box-shadow: 0px 0px 0px 2px #154a6d inset !important;
  color: #003b63 !important;
}

/*************************************/
/***********S-E-G-M-E-N-T-S***********/


.ui.indigo.segment:not(.inverted) {
  border-top: 2px solid #001f33 !important;
}

.ui.inverted.indigo.segment {
  background-color: #001f33 !important;
  color: #FFFFFF !important;
}

/*************************************/
/***************M-E-N-U***************/
/*************************************/

/**---Menu---**/


.ui.inverted.menu .indigo.active.item,
.ui.inverted.indigo.menu {
  background-color: #003b63;
  color: #FFFFFF;
}

.ui.inverted.indigo.menu .item:before {
  background-color: #003b63;
  color: #FFFFFF;
}

.ui.inverted.indigo.menu .active.item {
  background-color: #022e4b;
  color: #FFFFFF;
}

.ui.menu .indigo.active.item,
.ui.indigo.menu .active.item {
  border-color: #001f33 !important;
  color: #FFFFFF;
}

.original{
  background: linear-gradient(to top,#93A5CF, #E4EFE9);
  height: width;
  background-attachment: fixed;
  background-size: cover;
  background-position: center top;
  background-position-x: center;
  background-position-y: top;
  background-color: #000000;
  width: 100%;
  top: 0;
  height: 100%;
  }
  
.activel
{
  border-left: 5px solid #25648f;
}