#master3{
position: static;
background-image: url(bckgrnd.png);
width: 1100px;
margin: 165px auto 120px auto;
padding-bottom: 80px;
height: auto;
}
.Headertxt{
font-family: jockey one, sans-serif;
font-size: 46px;
color: yellow;
padding-left: 50px;
padding-top: 25px;
}
#subtxt2{
font-family: arvo , sans-serif;
font-size: 14px;
color: white;
padding-left: 50px;
padding-top: 10px;
font-weight: bold;
line-height: 22px;
}
#linerv{
height: 1px;
width: 1000px;
background-color: yellow;
position: static; 
margin: 50px auto 0px auto;
}
#frame{
padding-top: 50px;
padding-left: 50px;
}