extends ../../../templates/cisslbase

block append body
    .ui.stackable.grid.container
        header
            img#pine(src='pines.png', height='80px;', width='80px;', style='margin-top: 10px; margin-left: 15px;')
            h1 Baguio City
            h2 The City of Pines
            nav#nav
                ul#ye
                    li
                        a(href='zozor.html') HOME
                    li
                        a.active(href='blog.html') BLOG
                    li
                        a(href='resume.html') RESUME
                    li
                        a(href='contact.html') CONTACT
        #banner
            a(href='wp.png', target='_blank')
                img#pin.pop(src='wp.png')
        section
            article#arti
                #id
                    a(href='rocks.jpg', target='_self')
                        img(src='rocks.jpg', height='80px', width='110px;', style='height:width;')
                    a(href='farm.jpg', target='_self')
                        img(src='farm.jpg', height='80px', width='110px;', style='height:width;')
                    a(href='wayt.jpg', target='_self')
                        img(src='wayt.jpg', height='80px', width='110px;', style='height:width;')
                    a(href='straw.jpg', target='_self')
                        img(src='straw.jpg', height='80px', width='110px;', style='height:width;')
                    a(href='lion.jpg', target='_self')
                        img(src='lion.jpg', height='80px', width='110px;', style='height:width;')
                    a(href='view.jpg', target='_self')
                        img(src='view.jpg', height='80px', width='110px;', style='height:width;')
                    a(href='burn.jpg', target='_self')
                        img(src='burn.jpg', height='80px', width='110px;', style='height:width;')
                    a(href='rocks.jpg', target='_self')
                        img(src='rocks.jpg', height='80px', width='110px;', style='height:width;')
                    a(href='farm.jpg', target='_self')
                        img(src='farm.jpg', height='80px', width='110px;', style='height:width;')
                    a(href='wayt.jpg', target='_self')
                        img(src='wayt.jpg', height='80px', width='110px;', style='height:width;')
                    a(href='straw.jpg', target='_self')
                        img(src='straw.jpg', height='80px', width='110px;', style='height:width;')
                    a(href='lion.jpg', target='_self')
                        img(src='lion.jpg', height='80px', width='110px;', style='height:width;')
                    a(href='view.jpg', target='_self')
                        img(src='view.jpg', height='80px', width='110px;', style='height:width;')
                    a(href='burn.jpg', target='_self')
                        img(src='burn.jpg', height='80px', width='110px;', style='height:width;')
                    a(href='rocks.jpg', target='_self')
                        img(src='rocks.jpg', height='80px', width='110px;', style='height:width;')
                    a(href='farm.jpg', target='_self')
                        img(src='farm.jpg', height='80px', width='110px;', style='height:width;')
                    a(href='wayt.jpg', target='_self')
                        img(src='wayt.jpg', height='80px', width='110px;', style='height:width;')
                    a(href='straw.jpg', target='_self')
                        img(src='straw.jpg', height='80px', width='110px;', style='height:width;')
                    a(href='lion.jpg', target='_self')
                        img(src='lion.jpg', height='80px', width='110px;', style='height:width;')
                    a(href='view.jpg', target='_self')
                        img(src='view.jpg', height='80px', width='110px;', style='height:width;')
                    a(href='burn.jpg', target='_self')
                        img(src='burn.jpg', height='80px', width='110px;', style='height:width;')
                    a(href='rocks.jpg', target='_self')
                        img(src='rocks.jpg', height='80px', width='110px;', style='height:width;')
                    a(href='farm.jpg', target='_self')
                        img(src='farm.jpg', height='80px', width='110px;', style='height:width;')
                    a(href='wayt.jpg', target='_self')
                        img(src='wayt.jpg', height='80px', width='110px;', style='height:width;')
            aside
                p.yon ABOUT MEEEE
                a(href='reign.jpg', target='_blank')
                    img(src='reign.jpg', height='120px;', width='130px;', style='margin-left: 70px; margin-top: 30px;')
                p#hi.yon
                    | My name is Reign. I study at PUP Manila and My Course Is BSIT
                    br
                    br
                    | 					Motto: I wanna be the very best
                    |       					, like no one ever was.
                    |       					To code it is my real test,
                    |       					 to run them is my cause
                #social
                    a(href='http://www.facebook.com')
                        img(src='fb.png', height='50px', width='50px;')
                    a(href='http://twitter.com')
                        img(src='twitter.png', height='50px', width='50px')
                    a(href='http://vimeo.com')
                        img(src='vimeo.png', height='50px', width='50px')
                    a(href='http://flickr.com')
                        img(src='flicker.png', height='50px', width='50px	')
                    a(href='http://rss.com')
                        img(src='rss.png', height='50px', width='50px')
        footer
            #one
                h1 Information
                p We Went to Baguio city for Vacation at this date
                p 04/17/201
            #two
                p MY PICTURES
            #three
                p My Family
                #wan
                    li Espie
                    li Galo
                    li Cristina
                #wan
                    li Nikki
                    li Ash
                    li Reign 
